## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


###`Q-1` Find out top 10 countries' which have maximum A and D values.


###`Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

1.
- SELECT A.Country,A, D FROM (SELECT Country, A FROM freedom.country_ab
- ORDER BY A DESC LIMIT 10) A
- LEFT JOIN
- (SELECT Country, D FROM freedom.country_cd
- ORDER BY D DESC LIMIT 10) D
- ON A.Country = D.Country
- UNION
- SELECT D.Country, A, D FROM (SELECT Country, A FROM freedom.country_ab
- ORDER BY A DESC LIMIT 10) A
- RIGHT JOIN
- (SELECT Country, D FROM freedom.country_cd
- ORDER BY D DESC LIMIT 10) D
- ON A.Country = D.Country
- ORDER BY Country

2.
- SELECT t2.Region, MAX(t1.CL) AS 'cl' FROM freedom.country_cl t1
- JOIN freedom.country_ab  t2
- ON t1.Country = t2.Country
- WHERE t2.Edition = 2020
- GROUP BY region
- ORDER BY cl DESC

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

###`Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

###`Q-6:` Sales man who has generated most revenue. Show top 5.

###`Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

3.
- SELECT t1.Name, t2.Quantity AS 'Total_Quantity' FROM saledb.products t1
- JOIN saledb.sales1 t2
- ON t1.ProductID = t2.ProductID
- GROUP BY t1.ProductID
- ORDER BY t2.Quantity DESC LIMIT 5

4.
- SELECT t2.SalesPersonID,t1.FirstName, t1.LastName, SUM(t2.Quantity) AS
-  'total_quantity'
- FROM saledb.employees t1
- JOIN saledb.sales1 t2
- ON t1.EmployeeID= t2.SalesPersonID
- GROUP BY t1.FirstName, t1.LastName
- ORDER BY total_quantity DESC LIMIT 5

5.
- SELECT t2.SalesPersonID,t1.FirstName, t1.LastName, COUNT(DISTINCT t2. CustomerID) AS 'customer'
- FROM saledb.employees t1
- JOIN saledb.sales1 t2
- ON t1.EmployeeID= t2.SalesPersonID
- GROUP BY t1.FirstName, t1.LastName
- ORDER BY customer DESC LIMIT 5

6.
- SELECT t2.SalesPersonID, t3.FirstName, t3.LastName, ROUND(SUM(t1.Price * t2.Quantity),2) AS 'total_price'
- FROM saledb.sales1 t2
- JOIN saledb.products t1
- ON t1.ProductID = t2.ProductID
- JOIN saledb.employees t3
- ON t3.EmployeeID = t2.SalesPersonID
- Group BY t2.SalesPersonID
- ORDER BY total_price DESC LIMIT 5

7.
- SELECT t2.CustomerID , t2.FirstName, t2.LastName, COUNT(*) AS 'total_pur'
- FROM saledb.sales1 t1
- JOIN saledb.customers t2
- ON t1.CustomerID = t2.CustomerID
- GROUP BY t2.CustomerID
- HAVING total_pur > 10
- ORDER BY total_pur DESC

8.
- SELECT t1.SalesPersonID , t3.FirstName, t3.LastName, COUNT(DISTINCT t1.CustomerID) AS 'total_cus'
- FROM saledb.sales1 t1
- JOIN saledb.employees t3
- ON t3.EmployeeID = t1.SalesPersonID
- GROUP BY t1.SalesPersonID
- HAVING total_cus > 5
- ORDER BY total_cus DESC

9.
- SELECT * FROM
- (SELECT * FROM (SELECT DISTINCT t1.CustomerID AS 'customer1',
- t2.CustomerID AS 'customer2',
- t1.SalesPersonID
- FROM saledb.sales1 t1
- JOIN saledb.sales1 t2
- ON t1.SalesPersonID = t2.SalesPersonID
- AND t1.CustomerID != t2.CustomerID) t3
- JOIN saledb.customers t4
- ON t3.customer1 = t4.CustomerID) t5
- JOIN saledb.employees t6
- ON t5.SalesPersonID = t6.EmployeeID